<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Final</servlet-name>
        <servlet-class>abc.Final</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>abc.FileUploadHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactus_success</servlet-name>
        <servlet-class>success.contactus_success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register_success</servlet-name>
        <servlet-class>success.register_success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>success.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_contactus_success</servlet-name>
        <servlet-class>success.delete_contactus_success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>post_job_success</servlet-name>
        <servlet-class>success.post_job_success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register_company_success</servlet-name>
        <servlet-class>success.register_company_success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>company_approval</servlet-name>
        <servlet-class>success.company_approval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_success</servlet-name>
        <servlet-class>success.login_success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout_success</servlet-name>
        <servlet-class>success.logout_success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_pic</servlet-name>
        <servlet-class>success.update_pic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_info</servlet-name>
        <servlet-class>success.update_info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apply_job</servlet-name>
        <servlet-class>success.apply_job</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_password</servlet-name>
        <servlet-class>success.change_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_education</servlet-name>
        <servlet-class>success.update_education</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Final</servlet-name>
        <url-pattern>/Final</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/FileUploadHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactus_success</servlet-name>
        <url-pattern>/contactus_success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register_success</servlet-name>
        <url-pattern>/register_success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_contactus_success</servlet-name>
        <url-pattern>/delete_contactus_success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>post_job_success</servlet-name>
        <url-pattern>/post_job_success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register_company_success</servlet-name>
        <url-pattern>/register_company_success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>company_approval</servlet-name>
        <url-pattern>/company_approval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_success</servlet-name>
        <url-pattern>/login_success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout_success</servlet-name>
        <url-pattern>/logout_success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_pic</servlet-name>
        <url-pattern>/update_pic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_info</servlet-name>
        <url-pattern>/update_info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apply_job</servlet-name>
        <url-pattern>/apply_job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_password</servlet-name>
        <url-pattern>/change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_education</servlet-name>
        <url-pattern>/update_education</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
